%section#about
	%div.wrap
		%h1#header Hi, I'm Jacob Brezenin
		%h3#tagline I want to make your life much easier. 
		%section.column.left.top
			%p.contact 
				%a{:href => "http://google.com", :class => @mail} Contact
			%div.info
				%h6 Experience
				%p.attributes 3 years
			%div.info 
				%h6 Services
				%p.attributes Hiking, running, food delivery, medication specialist
		%section.column.right.top
			%div#about_head
				%h5 <span> </span> Los Angeles, CA
			%div#about_body
				%p I walk dogs lorum ipsum dolor mi amore tutti quello que dico e vero. Nostrud try-hard carles thundercats, odio future squid artisan. Flannel vinyl tonx, exercitation truffaut labore sint kogi. Ugh pop-up veniam kogi, eu lomo park indigo vero aliquip truffaut locavore whatever fanny pack
%section#links
	%div.wrap
		%div.column.left
			%ul 
				%li.fb 
					%a{:href=> "#"}
				%li.twt 
					%a{:href=> "#"}
				%li.linkd
					%a{:href=> "#"}
				%li.instagram
					%a{:href=> "#"}
		%div.column.right
			%ul 
				%li.review 
					%a{:href => "#"} Review
				%li.refer
					%a{:href => "#"} Refer
		%div.clear		
%section#availability
	%div.wrap
		%div.column.left	
			%h4.label Based In
			%p.user_entry Silverlake, Los Angeles | 90027	
			%h4.label Areas Served
			%p.user_entry 
				Downtown, Glendale, Echo Park, Silverlake, Los Feliz, Hollywood.
			%h4.label Schedule Questions
			%p.user_entry 
				Feel free to contact me with any questions about scheduling
				%a{:href => "#", :class => "mail", :title=>"Meet the Team"}
					<span> </span> Message Me
		%div.column.right
			%h4.label General Availability 
			%div#schedule
				%div.cal_column#left
					%div.cal_heading 
					%div.cal_table.top Hours
					%div.cal_table#8 8 
					%div.cal_table#9 9
					%div.cal_table#10 10
					%div.cal_table#11 11
					%div.cal_table#12 12 <span>pm</span>
					%div.cal_table#1 1
					%div.cal_table#2 2
					%div.cal_table#3 3
					%div.cal_table#4 4
					%div.cal_table#5 5
					%div.cal_table#6 6
					%div.cal_table#7 7
				%header#calendar
					%div.days Mon
					%div.days Tue
					%div.days Wed
					%div.days Thu
					%div.days.last Fri						
				%div.cal_column#right 
					%div.cal_table.top <span> </span> = Unavailable
					%div.days.main_column
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates.booked <span> </span>
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
					%div.days.main_column
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates.booked <span> </span>
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
					%div.days.main_column
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates.booked <span> </span>
					%div.days.main_column
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates.booked <span> </span>
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
					%div.days.main_column.last
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates.booked <span> </span>
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates
						%div.cal_dates

				%div.clear	
			%p.icon#evenings <span> </span> Weekend & after-hour walks available on request
			%p.icon#petsit <span> </span> Available for over-night pet lodging. 

		%div.clear

%section#tesimonials 
	%div.wrap
		%p.testimonial “This man is a glowing dog walking god. Relaxed, responsible and refined, I sincerely do not know what I would do without him."
		%p.ref_name -Janet Horowitz
		%p.more More Reviews 
%section#stats
	%div.wrap
		%div.column.left
			%h4 Certifications
			%p#verified.icon <span> </span> Verfiied with Background Check
			%h4 Insurance
			%p#insurance.icon <span> </span> Keepdom Inc. Insurance
		%div.column.right
			%h4 Training
			%p#basic.icon <span> </span> Completed basic Keepdom training.
			%p#medicine.icon <span> </span> Administering medications.
		%div.clear
	
%section#rates
	%div.wrap
		%div.column.left
			%h4 Rates
			%p $15 per walk
		%div.column.right
			%h4 Specials
			%p Try me out. First-time walk is only $5. 
		%div.clear	
%section#media 
	%div.wrap 
		%h4.media <span> </span> Media
		%div.media_wrap	
			%ul 
				%li 
					=image_tag "zach.png"
				%li 
					=image_tag "pitbull.png"
				%li
					=image_tag "whitedog.png"
				%li 
					=image_tag "jeremy.png"
				%li
					=image_tag "deer.png"
				%li
					=image_tag "officedog.png"
				%li
					=image_tag "dudley.png"
				%li
					=image_tag "chichi.png"
				%li
					=image_tag "daschund.png"
				%li
					=image_tag "bw.png"
				%li
					=image_tag "sidewalk.png"
				%li	
					=image_tag "cats.png"		
				%div.clear

		%div.clear.pad			
%footer.profiles 
