!!!
%html
  %head
    %title Keepdom
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <script type="text/javascript" src="//use.typekit.net/gwk5lhl.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    = yield
